.container {
    height: 100vh;
    margin: 0 auto;
    
    background: var(--blue);
    display: flex;
    flex-direction: column;
  }
  
  .container section {
    flex: 1;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
  }
  
  .background img {
    width: 550px;
    height: 550px;
  }